/* Your CSS here. */
.card {
    background-color: rgb(240, 215, 173);
    width:300px;
    margin:100px auto;
    padding:20px;
    border-radius:12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    text-align:center;
}

.card img{
    width:100px;
    height:100px;
}

.card h1{
    margin:10px;
}

.card p{
    font-size:14px;
}

/* css */