/* Your CSS here. */
.card {
    background-color: rgb(240, 215, 173);
    width:500px;
    margin:100px auto;
    padding:40px;
    border-radius:15px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.6);
    text-align:center;
}

.card img{
    width:150px;
    height:150px;
}

.card h1{
    margin:20px;
}

.card p{
    font-size:15px;
}

/* css */